@import url("https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Laila", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

@media (max-width: 640px) {
  .container {
    padding: 0 20px !important;
  }
}
