@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

@media (max-width: 640px) {
  .container {
    padding: 0 20px !important;
  }
}

@media (max-width: 1606px) and (min-width: 1526px) {
  .container {
    width: 1284px !important;
  }
}

@media (max-width: 1380px) and (min-width: 1278px) {
  .container {
    width: 1026px !important;
  }
}

@media (max-width: 1120px) and (min-width: 1018px) {
  .container {
    width: 768px !important;
  }
}

@media (max-width: 824px) and (min-width: 754px) {
  .container {
    width: 640px !important;
  }
}

/* styles.css */
@keyframes example {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    /* transform: translateX(-50%) */
    left: 50%;
    top: 10%;
  }
  60% {
    right: 0;
  }
  80% {
    right: 0;
  }
  100% {
    transform: translateY(-50%);
    /* left: 0; */
    right: 0;
    top: 50%;
  }
}

.animate-example {
  animation: example 2s infinite;
}

.fancy-carousel-border {
  height: 100% !important;
  width: 100% !important;
}

@media (max-width: 1610px) and (min-width: 1018px) {
  .fancy-carousel-border {
    height: 550px !important;
    width: 550px !important;
  }
  .fancy-carousel {
    height: 100% !important;
    width: 100% !important;
  }
  .fancy-carousel-element.central-img {
    left: 50% !important;
    top: 50% !important;
    width: 200px !important;
    height: 200px !important;
    transform: translate(-50%, -50%) !important;
  }
  .fancy-carousel-element.central-img img {
    width: 100% !important;
    height: 100% !important;
  }
}

body {
  overflow-x: hidden !important;
}

.service-image {
  padding: 20px 40px;
  /* box-shadow: 8px 8px 15px rgba(255, 182, 193, 0.6), */
  border-radius: 6px;
}

.service-image-container.active {
  animation: slide-left-right 6s infinite;
}

.service-content {
  animation: slide-right-left 6s infinite;
}

@keyframes slide-left-right {
  0%,
  100% {
    /* transform: translateX(-150%); */
    /* Start and end off-screen to the left */
    left: -150%;
  }
  25%,
  75% {
    left: 0; /* Center during the middle of the animation */
  }
}

@keyframes slide-right-left {
  0%,
  100% {
    /* transform: translateX(-150%); */
    /* Start and end off-screen to the left */
    right: -150%;
  }
  25%,
  75% {
    right: 0; /* Center during the middle of the animation */
  }
}

.logo-white {
  filter: brightness(0) invert(1);
}
